<h3>Add comment</h3>

<%= render 'errors', model: @comment %>

<%= form_for [@article, @comment] do |f| %>
  <div class='form-group'>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <p>
    <%= f.submit class: 'btn btn-success' %>
  </p>
<% end %>
